//body { padding-top: 45px; }

tr#empty-table { text-align: center; opacity: 0.5;}
.field_with_errors { display:inline; }

#content-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}